.librarySection {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-top: 6em;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
}

.librarySection h2 {
  position: absolute;
  color: #fffcf2;
  top: -1.5em;
  left: 0;
}

@media screen and (max-width: 480px) {
  .librarySection h2 {
    left: 1em;
  }
}
