.section {
  position: fixed;
  top: 9em;
  left: -7.5em;
  min-width: 9em;
  height: 100%;
  height: 7em;
  background-color: black;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: all 200ms linear;
}

.section:hover {
  transform: translateX(7em);
}

.sideBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.sideBar li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffcf2;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  font-weight: 300;
  border-bottom: 1px solid #6c757d;
}

.sideBar li:last-child {
  border: none;
}

.sideBar li:hover {
  background-color: #27187e;
}

@media screen and (max-width: 767px) {
  .section {
    top: 9em;
    left: -7em;
    min-width: 8em;
    height: 6em;
  }
}

@media screen and (max-width: 480px) {
  .section {
    top: 9em;
    left: -7em;
    min-width: 8em;
    height: 5em;
  }
}
