.pageNum {
  display: flex;
  color: #6c757d;
  justify-content: center;
  margin-top: 3em;
}

.pageNum a {
  color: #6c757d;
  font-size: 1rem;
  padding: 0 1em;
}

.sort {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 5em;
  margin-top: 2em;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color: #0d1b2a;
}

.link {
  color: #fffcf2;
}

.dropDown {
  position: relative;
  transition: all 300ms linear;
}

.dropDown button {
  background-color: transparent;
  color: #fffcf2;
  font-size: 1.2rem;
}

.drop {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #495057;
  overflow: scroll;
  width: 13em;
  height: 25em;
  top: 1em;
  left: -5em;
  z-index: 10;
  margin-top: 1em;
  animation: growY 300ms;
  border-radius: 5px;
}

.dropEle {
  width: 100%;
  padding: 1em 0;
  font-size: 1rem;
  font-weight: 300;
  color: white;
}

.dropEle:hover {
  background-color: black;
}

@keyframes growY {
  from {
    height: 0;
  }

  100% {
    height: 25em;
  }
}

@media screen and (max-width: 480px) {
  .sort {
    margin-top: 4em;
    font-size: 1rem;
  }

  .drop {
    width: 10em;
    height: 25em;
    left: -3.5em;
    font-size: 1rem;
  }

  .dropDown button {
    font-size: 1rem;
  }
}
