.aside {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: fixed;
  top: 10em;
  left: -5.1em;
  transition: all 300ms ease-in-out;
}

.aside:hover {
  transform: translateX(5em);
}

.aside a {
  color: #e9ecef;
  background-color: black;
  font-size: 1rem;
  padding: 1em 1.5em;
  border: 1px solid #e9ecef;
  border-radius: 3px;
}
.active {
  border-bottom: 1px solid #e9ecef;
}
