.contentBox {
  background-color: #343a40;
  height: 50em;
  margin: 10em 7em 0em;
  padding: 2em;
  border-radius: 5px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar .title {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  height: 1.5em;
  font-size: 1.4rem;
  padding: 0.5em;
  border-radius: 5px;
  font-weight: 400;
  flex-basis: 75%;
}

.bar .meta {
  display: flex;
  color: #d9d9d9;
  align-items: center;
}

.meta p:not(.meta button) {
  margin-right: 1em;
}

.meta button {
  color: #d9d9d9;
  border: 1px solid #d9d9d9;
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
}

.contentBox .content {
  background-color: #d9d9d9;
  margin-top: 2em;
  height: 88%;
  border-radius: 5px;
  font-size: 1rem;
  padding: 1em;
  white-space: pre-wrap;
  font-weight: 400;
}
