.rand {
  background: transparent;
}

.title {
  text-align: start;
  color: white;
  margin-top: 2em;
  font-size: 1.5rem;
}

.content {
  display: flex;
  background-color: #343a40;
  color: white;
  border-radius: 5px;
  margin-top: 2.1em;
  width: 100%;
  height: 23em;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, rgb(43, 43, 43), rgb(32, 32, 32));
  flex-basis: 60%;
}

.left img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 40%;
  height: 23em;
  padding: 2em 1.5em;
}

.right h3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.description {
  margin-top: 2em;
}

.meta {
  color: white;
  font-weight: 300;
}

.link {
  position: absolute;
  padding: 0.3em 0.5em;
  bottom: 6.5em;
  right: 1.5em;
  width: 7em;
  height: 2em;
}

.link:hover {
  color: white;
  border-color: white;
}

.right button {
  position: absolute;
  color: white;
  background-color: #3c096c;
  cursor: pointer;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  font-size: 1.5rem;
  font-weight: 300;
  transition: all 200ms linear;
}

.right button:hover {
  background-color: #240046;
}

.error {
  width: 100%;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .content {
    height: 20em;
  }

  .right {
    height: 20em;
  }

  .right h3 {
    font-size: 1.4rem;
  }

  .description {
    margin-top: 2em;
    font-size: 0.9rem;
  }

  .link {
    position: absolute;
    font-size: 0.8rem;
  }

  .right button {
    height: 4em;
    font-size: 1rem;
  }
}

@media screen and (min-width: 1700px) {
  .content {
    height: 30em;
  }

  .right {
    height: 30em;
  }

  .right h3 {
    font-size: 3rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .link {
    position: absolute;
    font-size: 1.3rem;
  }

  .right button {
    height: 4em;
  }
}

@media screen and (max-width: 480px) {
  .content {
    height: 28em;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 1.4rem;
    margin-left: 0.3em;
    margin-top: 3em;
  }

  .left img {
    border-radius: 5px 5px 0 0;
  }

  .right {
    height: 13em;
    display: flex;
    justify-content: space-evenly;
    padding: 1em 0;
  }

  .right h3 {
    font-size: 1rem;
  }

  .description {
    font-size: 0.5rem;
  }

  .link {
    position: relative;
    align-self: flex-end;
    font-size: 0.6rem;
    bottom: 1.5em;
    right: 0.9em;
    margin-top: 2em;
    width: 7em;
  }

  .right button {
    height: 2.5em;
    font-size: 0.9rem;
    outline: none;
    border-radius: 0 0 5px 5px;
  }
}
