.section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 90%;
  height: 30em;
}

.swiper {
  max-height: 30em;
  border-radius: 5px 0 0 5px;
  background-color: #212529;
}

.swiper img {
  width: 100%;
  min-height: 30em;
}

.cont {
  position: relative;
}

.name {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 2em;
  left: 1em;
  z-index: 5;
}

.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    290deg,
    rgba(11, 11, 11, 0) 30%,
    #0b0b0b 100%,
    #0b0b0b 100%
  );
}

.score {
  position: absolute;
  color: white;
  font-size: 1rem;
  top: 7.5em;
  left: 9em;
  z-index: 1;
}

.slideButton {
  position: absolute;
  display: flex;
  color: white;
  border: white 1px solid;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  width: 8em;
  height: 3em;
  padding: 0 1em;
  top: 11.5em;
  left: 2.4em;
  z-index: 1;
  font-weight: 300;
}

.slideButton:hover {
  color: #48cae4;
  border-color: #48cae4;
}

/* navigation색상은 index.css에 지정되어있음 */

@media screen and (max-width: 767px) {
  .section {
    width: 90%;
    height: 25em;
  }

  .swiper {
    max-height: 25em;
  }

  .swiper img {
    width: 100%;
    min-height: 25em;
  }

  .name {
    font-size: 1.7rem;
  }

  .score {
    top: 6.7em;
    left: 9.2em;
    font-size: 0.9rem;
  }

  .slideButton {
    height: 2.5em;
    top: 10em;
    left: 2em;
  }
}

@media screen and (min-width: 1700px) {
  .section {
    width: 90%;
    height: 35em;
  }

  .swiper {
    max-height: 35em;
  }

  .swiper img {
    width: 100%;
    min-height: 35em;
  }
}

@media screen and (max-width: 480px) {
  .section {
    width: 100%;
    height: 17em;
  }

  .swiper {
    max-height: 20em;
    border-radius: 5px 0 0 5px;
  }

  .swiper img {
    width: 100%;
    min-height: 18em;
  }

  .name {
    font-size: 1.2rem;
  }

  .score {
    top: 6.7em;
    left: 8.5em;
    font-size: 0.7rem;
  }

  .slideButton {
    font-size: 0.6rem;
    width: 7em;
    height: 2.5em;
    top: 10em;
    left: 2em;
  }
}
