.title {
  text-align: start;
  color: white;
  margin-top: 2em;
  font-size: 1.5rem;
}

.content {
  display: flex;
  background-color: #343a40;
  border-radius: 5px;
  margin-top: 2.1em;
  width: 100%;
  height: 23em;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: linear-gradient(to bottom, rgb(43, 43, 43), rgb(32, 32, 32));
  flex-basis: 60%;
}

.left img {
  width: 100%;
  height: 100%;
  border-radius: 5px 0 0 5px;
}

.right {
  display: flex;
  flex-direction: column;
  position: relative;
  flex-basis: 40%;
  height: 23em;
  padding: 2em 1.5em;
}

.right h3 {
  font-size: 2rem;
  font-weight: 400;
  color: white;
}

.description {
  margin-top: 2em;
}

.meta {
  color: white;
  font-weight: 300;
}

.link {
  position: absolute;
  padding: 0.3em 0.5em;
  bottom: 6.5em;
  right: 1.5em;
  width: 7em;
  height: 2em;
}

.link:hover {
  color: white;
  border-color: white;
}

.right button {
  position: absolute;
  color: white;
  background-color: #3c096c;
  cursor: pointer;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3em;
  font-size: 1.5rem;
  font-weight: 300;
  transition: all 200ms linear;
}

.right button:hover {
  background-color: #240046;
}
