.rating {
  display: flex;
  align-items: center;
  unicode-bidi: bidi-override;
  color: #888888;
  font-size: 1.5rem;
  width: 1335px;
  position: absolute;
  top: 4.7em;
  left: 1.3em;
  margin: 0;
  padding: 0;
}

.ratingUpper {
  color: #ffc300;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: flex;
  top: 0;
  left: 0;
  overflow: hidden;
}

.ratingLower {
  padding: 0;
  display: flex;
  z-index: 0;
}

.score {
  position: relative;
  color: white;
  font-size: 1rem;
  z-index: 1;
  left: 0.5em;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .rating {
    font-size: 1.5rem;
    top: 3.8em;
    left: 1em;
  }
}

@media screen and (max-width: 480px) {
  .rating {
    width: 890px;
    font-size: 1rem;
    position: absolute;
    top: 4.5em;
    left: 1.2em;
    margin: 0;
    padding: 0;
  }

  .score {
    font-size: 0.6rem;
  }
}
