.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #3c096c;
  width: 100%;
  /* max-width: 10em; */
  height: 30em;
  flex-basis: 10%;
  border-radius: 0 5px 5px 0;
}

.aside a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: solid 1px #adb5bd;
  width: 100%;
  height: 25%;
  font-weight: 300;
}

.aside a:last-child {
  border-bottom: none;
}

.aside a:hover {
  background-color: #240046;
  color: white;
}

.aside a:first-child:hover,
.aside a:last-child:hover {
  border-radius: 0 5px 5px 0;
}

.icon {
  font-size: 1.5rem;
}

@media screen and (max-width: 767px) {
  .aside {
    height: 25em;
  }
}

@media screen and (min-width: 1700px) {
  .aside {
    height: 35em;
  }
}

@media screen and (max-width: 480px) {
  .aside {
    width: 100%;
    min-height: 2.3em;
    height: 100%;
    display: flex;
    flex-direction: row;
    border-radius: 0 0 5px 5px;
    z-index: 1;
  }

  .aside a {
    width: 25%;
    height: 100%;
    font-size: 0.7rem;
    border-bottom: none;
    border-right: 1px solid #adb5bd;
  }

  .aside a:last-child {
    border-right: none;
  }
}
