.section {
  width: 80%;
  margin-top: 3em;
  background-color: #1d3557;
  border-radius: 5px;
  color: #e5e5e5;
  position: relative;
  padding: 0 2.5em;
}
.section h2 {
  display: flex;
  justify-content: flex-start;
  margin-top: 1.5em;
  font-size: 1.8rem;
}

.detail {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px #343a40 solid;
  width: 100%;
  padding: 2.5em 0;
}

.detail span {
  position: absolute;
  color: white;
  padding: 0.3em 0.6em;
  top: 4em;
  right: 1.5em;
  border-radius: 5px;
  font-size: 1.2rem;
}

.detail a {
  color: #8d99ae;
}

.detail a:hover {
  color: #06d6a0;
}

.detailBox {
  margin-top: 2em;
}

.box {
  margin-top: 1em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box a {
  margin-left: 0.5em;
}

.linkDescription {
  color: #8d99ae;
  margin-left: 1em;
  outline: none;
  cursor: pointer;
}

.description {
  width: 100%;
  min-height: 15em;
  margin: 1em;
  font-size: 1rem;
  padding: 1em 2em;
  line-height: 1.8em;
}

.gray {
  color: #8d99ae;
}

@media screen and (max-width: 680px) {
  .section h2 {
    font-size: 1.2rem;
  }

  .detail span {
    top: 6.5em;
    right: -1em;
    border-radius: 5px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .section {
    width: 100%;
  }

  .section h2 {
    font-size: 1.2rem;
  }

  .description {
    width: 100%;
    min-height: 15em;
    margin: 1em;
    font-size: 1rem;
    padding: 1em 0;
    line-height: 1.8em;
  }

  .detailBox a {
    font-size: 0.7rem;
  }

  .box {
    font-size: 0.8rem;
  }

  .gray {
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
