.main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 3.5em;
  height: 100%;
}

.list {
  width: 80%;
  margin-top: 1em;
}
