/* 구글폰트 */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap'); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

body,
html {
  background-color: #212529;
}

li {
  list-style: none;
  text-decoration: none;
}

button {
  border-style: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #adb5bd;
}

.centered {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}

.error {
  display: flex;
  color: #c62828;
}

input {
  border-style: none;
}

.wrapper {
  height: auto;
  min-height: 100vh;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 2rem !important;
  }
}

@media screen and (max-width: 480px) {
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 1.5rem !important;
  }
}
