/* 구글폰트 */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap'); */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  text-decoration: none;
}

body {
  background-color: #212529;
  height: 100vh;
}

li {
  list-style: none;
  text-decoration: none;
}

.container {
  text-align: center;
  margin-top: 3.5em;
  padding: 0 10em;
  height: 100vh;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #adb5bd;
}

.centered {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
