.login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loginForm {
  background-color: rgb(20, 18, 18);
  margin-top: 6em;
  width: 30em;
  height: 40em;
  padding: 2em 4em;
  border-radius: 5px;
  box-shadow: 0 2px 18px 10px rgb(0 0 0 / 25%);
  z-index: 1;
}

.loginForm h2 {
  color: white;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 2em;
}

.formControls {
  margin-top: 3.8em;
}

.loginForm button {
  width: 100%;
  height: 4.39em;
  border-radius: 5px;
  margin-top: 1em;
  cursor: pointer;
  background-image: linear-gradient(180deg, #7161ef 0%, #2176ff 100%);
  color: white;
}

.loginForm p {
  margin-top: 2em;
  font-weight: 300;
}

.btnCont button:disabled {
  animation: none;
  color: #adb5bd;
  cursor: not-allowed;
}

.jump {
  animation: popUp 500ms ease-in-out alternate;
}

.aCont {
  margin-top: 3.5em;
}

.loginForm a {
  color: #adb5bd;
  font-weight: 300;
  padding: 1em;
  border: 1px solid #00bbf9;
  border-color: #00bbf9 transparent #00bbf9 transparent;
}

.loginForm a:hover {
  color: #00bbf9;
}

.sideMemo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  color: #f1faee;
  text-align: center;
  background-color: #e63946;
  font-size: 1rem;
  font-weight: 400;
  right: 3em;
  opacity: 0;
  bottom: 0;
  width: 25em;
  height: 10em;
  border-radius: 5px;
  z-index: 10;
}

.sideMemo.show {
  opacity: 0;
  animation: fadeInOut 10s;
}

.sideMemo span {
  border-bottom: 2px black groove;
  color: #001219;
}

.spin {
  margin-top: 2.5em;
}

@keyframes popUp {
  from {
    transform: translateY(0);
    width: 100%;
  }

  30% {
    width: 80%;
    padding-bottom: 5%;
  }

  50% {
    transform: translateY(-0.6em);
    width: 90%;
  }

  70% {
    transform: translateY(0.3em);
    width: 95%;
    padding-top: 5%;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(-19em);
  }

  60% {
    opacity: 1;
    transform: translateY(-19em);
  }
  100% {
    opacity: 0;
    transform: translateY(0em);
  }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
  .sideMemo {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    top: 0;
    left: 20em;
    width: 25em;
    height: 10em;
    border-radius: 5px;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
      transform: translateY(7em);
    }

    60% {
      opacity: 1;
      transform: translateY(7em);
    }
    100% {
      opacity: 0;
      transform: translateY(0em);
    }
  }
}

@media screen and (max-width: 480px) {
  .loginForm {
    margin-top: 6em;
    width: 25em;
    height: 40em;
    padding: 2em 4em;
    border-radius: 5px;
    box-shadow: 0 2px 18px 10px rgb(0 0 0 / 25%);
    z-index: 1;
  }

  .sideMemo {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0;
    top: 0;
    left: 2.6em;
    width: 25em;
    height: 10em;
  }
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    20% {
      opacity: 1;
      transform: translateY(7em);
    }

    60% {
      opacity: 1;
      transform: translateY(7em);
    }
    100% {
      opacity: 0;
      transform: translateY(0em);
    }
  }
}
