.card {
  width: 100%;
  height: 100%;
  height: 16.5em;
  max-width: 13em;
  margin-top: 2em;
  border-radius: 5px;
  position: relative;
  transition: all 200ms linear;
  background-color: #1d3557;
  text-align: center;
}

.card:hover {
  transform: translateY(-1em);
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 100%;

  min-height: 10em;
  max-height: 10em;
  border-radius: 5px;
}

.description {
  color: #e5e5e5;
}

.description p {
  justify-content: center;
  margin-top: 1em;
  font-weight: 400;
}

.description span {
  position: absolute;
  text-align: center;
  font-weight: 400;
  font-size: 1.3rem;
  top: 0.3em;
  right: 0.3em;
  border-radius: 5px;
  padding: 0.1em;
  width: 1.5em;
}
