.card {
  width: 100%;
  height: 100%;
  max-width: 13em;
  min-height: 18em;
  margin-top: 2em;
  border-radius: 5px;
  position: relative;
}

.card img {
  width: 100%;
  min-height: 18em;
  border-radius: 5px;
  box-shadow: 0 4.5em 2em #023e8a, 0 -0.5em 1em #023e8a;
}

.description {
  color: white;
}

.description p {
  justify-content: center;
  margin-top: 1em;
  font-weight: 400;
}

.description span {
  position: absolute;
  font-weight: 500;
  font-size: 1.3rem;
  top: 0.3em;
  right: 0.3em;
  border-radius: 5px;
  padding: 0.1em;
}
