.games {
  display: flex;
  position: relative;
  flex-direction: column;
}

.more {
  position: absolute;
  font-weight: 400;
  font-size: 0.95rem;
  top: 3.3em;
  right: 0;
  padding: 0.3em 0.5em;
}

.more:hover {
  color: white;
  border-color: white;
}

.games h2 {
  color: white;
  text-align: start;
  margin-top: 2em;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.error {
  color: white;
  font-size: 1rem;
  margin: 3em;
}

@media screen and (max-width: 480px) {
  .games {
    height: 100%;
    margin-top: 3em;
  }

  .more {
    top: 3em;
    right: 0;
    padding: 0.3em 0.5em;
  }
}

@media screen and (min-width: 1550px) {
  .list {
    padding: 0 5%;
  }
}
