.games {
  display: flex;
  position: relative;
  flex-direction: column;
}

.more {
  font-weight: 400;
  font-size: 0.95rem;
  padding: 0.3em 0.5em;
}

.more:hover {
  color: white;
  border-color: white;
}

.games h2 {
  color: white;
  text-align: start;
  margin-top: 2em;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.error {
  color: white;
  font-size: 1rem;
  margin: 3em;
}

@media screen and (max-width: 480px) {
  .games {
    height: 100%;
    margin-top: 3em;
    padding: 0 5%;
  }

  .games h2 {
    font-size: 1.4rem;
  }

  .more {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1550px) {
  .list {
    padding: 0 5%;
  }
}
