.games {
  display: flex;
  position: relative;
  flex-direction: column;
}

.more {
  position: absolute;
  color: #adb5bd;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  font-size: 1rem;
  top: 3.3em;
  right: 0;
  padding: 0.3em 0.5em;
}

.more:hover {
  color: white;
  border-color: white;
}

.games h2 {
  color: white;
  text-align: start;
  margin-top: 2em;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.error {
  color: white;
  font-size: 1rem;
  margin: 3em;
}
