.spinner:after {
  content: ' ';
  display: block;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  border: 5px solid #d90429;
  border-color: #d90429 transparent #d90429 transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px) {
  .spinner::after {
    width: 1.5em;
    height: 1.5em;
  }
}
