.section {
  display: flex;
  position: relative;
  justify-items: center;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100%;
  margin-top: 10em;
  padding: 3em 10%;
  border-radius: 5px;
}

.section h2 {
  position: absolute;
  color: white;
  margin-bottom: 1.5em;
  left: 18%;
  top: -2%;
}

.reply {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  background-color: #495057;
  border-radius: 5px;
  padding: 2em 2em;
}

.reply img {
  width: 5em;
  height: 5em;
  margin-right: 2em;
  border-radius: 50%;
}

.reply button {
  font-size: 1rem;
  width: 8em;
  height: 6em;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: white;
  background-color: #09bc8d;
}

.reply button:hover {
  background-color: #04513c;
  color: #e5e5e5;
}

.text {
  width: 100%;
  height: 6em;
  font-size: 1rem;
  padding: 1em;
  border-radius: 5px 0 0 5px;
  letter-spacing: 0.5px;
  resize: none;
  outline: none;
  border: none;
}

.text:disabled {
  cursor: pointer;
}

.replyList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  width: 80%;
}

.replyList li {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  background-color: #495057;
  padding: 1em 2em;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}

.replyList li:not(:first-child) {
  margin-top: 2em;
}

.replyList img {
  align-self: center;
  width: 5em;
  height: 5em;
  border-radius: 50%;
}

.replyList li p {
  color: #f8f9fa;
  font-weight: 300;
  word-break: break-all;
  line-height: 1.8em;
}

.metaBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-basis: 15%;
}

.metaBox .nick {
  font-size: 0.9rem;
  font-weight: 400;
  margin-top: 0.4em;
  color: #f8f9fa;
}

.textBox {
  margin-left: 1em;
  flex-basis: 85%;
}

.date {
  position: absolute;
  font-size: 0.9rem;
  bottom: 0;
  right: 1em;
}
